<div class="jumbotron" style="max-height: 75vh; background: linear-gradient(180deg,#0003,#00000080 70%), url('https://d22ir9aoo7cbf6.cloudfront.net/wp-content/uploads/sites/4/2019/07/Spice-Night-Bar-Ubud-Bali-Indonesia-1.jpg'); background-size: cover; background-position: bottom;" >
  <h1 class="display-4 text-white">Cocktails</h1>
  <p class="lead" style="color: white">All you need is a cocktail per day!</p>
  <div class="my-4">
    <button class="btn btn-primary btn-lg text-white" >
      <%= link_to "Add new cocktail", new_cocktail_path, {:style => 'color: #FFFFFF'} %>
    </div>

    <div class="container shadow p-3 mb-5 bg-white rounded">
      <% @cocktails.each do |cocktail| %>
      <% if cocktail == @cocktails.last %>
      <li class="mb-3 text-uppercase p-2" style="list-style:none">
        <i class="fas fa-cocktail mr-2"></i>
        <span class="badge badge-primary ml-2 mr-2">New</span>
        <%= link_to (cocktail.name), edit_cocktail_path(cocktail) %>
        <%= link_to "Edit", edit_cocktail_path(cocktail) %>
        <%= link_to "Delete", cocktail_path(cocktail), method: :delete, :class => "text-danger" %>
      </li>
      <% else %>
      <li class="mb-3 text-uppercase p-2" style="list-style:none">
        <i class="fas fa-cocktail mr-2"></i>
        <%= link_to (cocktail.name), edit_cocktail_path(cocktail) %>
        <%= link_to "Edit", edit_cocktail_path(cocktail) %>
        <%= link_to "Delete", cocktail_path(cocktail), method: :delete, :class => "text-danger" %>
      </li>
      <% end %>
      <% end %>
    </div>
</div>
