<div class="jumbotron" style="height: 75vh; background: linear-gradient(180deg,#0003,#00000080 70%), url('https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1687,w_3000,x_0,y_0/dpr_1.5/c_limit,w_3000/fl_lossy,q_auto/v1582734026/200224-Rothbaum-life-behind-bars-tease_zkiaoh')">
  <h1 class="display-4 text-white">Cocktails</h1>
  <p class="lead" style="color: white">All you need is a cocktail per day!</p>
  <div class="my-4">
  <button class="btn btn-primary btn-lg text-white" >
    <%= link_to "Add new cocktail", new_cocktail_path %>
  </button>
</div>

<!-- Main container area -->
<div class="container shadow p-3 mb-5 bg-white rounded">
  <% @cocktails.each do |cocktail| %>
    <% if cocktail == @cocktails.last %>
      <li class="mb-3 text-uppercase p-2" style="list-style:none"><i class="fas fa-cocktail mr-2"></i><span class="badge badge-primary ml-2 mr-2">New</span><%= cocktail.name %>
        <%= link_to "Edit", edit_cocktail_path(cocktail) %>
        <%= link_to "Delete", cocktail_path(cocktail), method: :delete, :class => "text-danger" %>
      </li>
    <% else %>

      <li class="mb-3 text-uppercase p-2" style="list-style:none">
        <i class="fas fa-cocktail mr-2"></i>
        <%= cocktail.name %>
        <%= link_to "Edit", edit_cocktail_path(cocktail) %>
        <%= link_to "Delete", cocktail_path(cocktail), method: :delete, :class => "text-danger" %>
      </li>
    <% end %>
  <% end %>
  </div>
  <h4 class="mb-4"><%= link_to "Add new cocktail", new_cocktail_path %></h4>
</div>
